<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/flexslider.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../public/css/icofont.css">
    <link rel="stylesheet" href="../public/css/jquery-ui.css">
    <link rel="stylesheet" href="../public/css/jQuery.verticalCarousel.css">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="../public/responsive.css">
</head>

<body class="loading">
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-3 col-xs-12">
                        <div class="logo">
                            <a href="/"><img src="../public/img/Logo.png" alt=""></a>
                        </div>
                    </div>

                    <!-- Show the menu only if the user exists -->

                    <% if(typeof userInfo !== 'undefined') { %>
                    <div class="col-md-6 col-sm-9 col-xs-12">
                        <div class="menu">
                            <ul class="nav">
                              <li><a href="/">Home</a></li>
                              <li><a href="songs">Songs</a></li>
                              <li><a href="artists">Artists</a></li>
                              <li><a href="account">Account</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- We wanted to have a button for logout but we didn't achieve to revoke the Spotify API token -->

                    <!-- <div class="col-md-2 col-sm-9 col-xs-12">
                      <div class="logout">
                        <a href="" class="btn btn-success">Logout</a>
                      </div>
                    </div> -->
                    <% } %>

                </div>

                <div class="row">
                    <div class="col-md-6" STYLE="padding-bottom: 80px">
                        <div class="text">

                            <h3>Welcome <% if(typeof userInfo !== 'undefined') { %><%= userInfo.id %><% } else { %>on Spotify Memories <% } %></h3>
                            <h6>Prepared to return to the past ? Spotify Memories let you watch tracks and artists you heard the most on your Spotify account, for different time ranges</h6>
                            <% if(typeof userInfo == 'undefined') { %><a class="buttonI" href="login"><img src="../public/img/Connect.png" alt=""></a><% } %>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="team">
            <div class="text">
                <h2>Our team</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="../public/img/Nico.jpg">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="team-text">
                                                <h3>Nicolas Copsidas</h3>
                                                <p>Back-end developper</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li data-thumb="../public/img/Gab.jpg">
                                  <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                      <div class="team-text">
                                        <h3>Gabriel Gerard</h3>
                                        <p>Graphic designer</p>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                                <li data-thumb="../public/img/Tri.jpg">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="team-text">
                                                <h3>Tristan Deligne-Luque</h3>
                                                <p>Front-end developper</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer') %>


    </div>
    <script src="../public/js/jquery-3.1.1.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/owl.carousel.min.js"></script>
    <script src="../public/js/jquery.flexslider.js"></script>
    <script src="../public/js/jQuery.verticalCarousel.js"></script>
    <script src="../public/js/jquery-ui.js"></script>
    <script src="../public/js/active.js"></script>
</body>

</html>
