<div class="row">
    <div class="col-md-4 col-sm-3 col-xs-12">
        <div class="logo">
            <a href="/"><img src="/../public/img/Logo.png" alt=""></a>
        </div>
    </div>
    <div class="col-md-8 col-sm-9 col-xs-12">
        <div class="menu">
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/songs">Songs</a></li>
                <li><a href="/artists">Artists</a></li>
                <li><a href="/account">Account</a></li>
            </ul>
        </div>
    </div>
</div>
